
div{
    height: 160px;
    border-radius: 25px;
    align-content: center;
    
 }
 
#novapasta{
    background-color: #cee4d0;
    opacity: 0.2;
    border: 1px solid #88c7a0;
}


.button{
    height: 50%;
    width: 50%;
    position:absolute;
    top:25%;
    left:25%;
    border-radius: 100px;
    border: 1px solid #88c7a0;
    font-size: 60px;
}