@import '../../styles.scss';

header{
    display: flex;
    background-color: #d86f52;
    font-size: 20px;
    justify-content: space-between;
    color: #cee4d0;
    padding-left: 10px;
    height: 45px;
    width: 100%;
    box-sizing: border-box;
}

.nome{
    margin-top: 7px;
}

input{
    height: 30px;
    font-size: 15px;
    border: 0.7px solid #88c7a0;
    width: 30%;
    border-radius: 7px;
    padding: 0 7.5px;
    box-sizing: border-box;
    background-color: #cee4d0;
    margin-top: 7px;
    margin-right: 10px;    
}

